:root{
    --laranja: #ED7839;
    --bege: #FDF1EB;
    --titlecolor: #725C5C;
    --textcolor: #5c5c5c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: grid;
}

/* menu lateral*/

.menu-conteiner{
    position: fixed;
    float: left;
    display: flex;
    flex-direction: row;
    height: 2000px;
    width: 200px;
    color: var(--titlecolor);
    border-right: 2px solid #E7E7E7;
    box-shadow: 1px -3px 8px 1px #c4c0c0;
    -moz-box-shadow:  1px -3px 8px 1px #c4c0c0;
    -webkit-box-shadow:  1px -3px 8px 1px #cac0c0;  
}


.menu-conteiner .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px ;
    background: linear-gradient( 180deg, #FFB354 0%, #EE7A3A 100%);
    height:70px;
    width: 200px;
}

.menu-conteiner .imagem-logo{
    height: 250px;
    width: 200px;
    align-items: center;
}

.menu-conteiner nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-conteiner a{
    color: var(--titlecolor);
    list-style: none;
    text-align:left;
    
    border-bottom: 2px solid #E7E7E7;
    background: white;
    padding: 0 0.2em 0.2em 0;
    text-decoration: none;
    height: 35px;
    width: 200px;
}
a p{
    margin-top: 10px;
    margin-left: 20px ;
    font-size: 14px;
}
nav a:hover{
    background-color: var(--bege);
    border-left: 4px solid var(--laranja);
}

/*base do contéudo principal*/
.conteiner-principal{
    float: right;
    display: grid;
    margin-left: 203px;
    position: absolute;
    flex-direction: column;
    width: 85%;
}

/*painel superior*/

.conteiner-simposio{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 70px;
    width: 99%;
    background-color: #FDF1EB;
    color: var(--textcolor);
}

.botoes{
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content:space-around;
    margin-top: 15px;
    cursor: pointer
}

.botao{
    border: none;
    height: max-content;
    background-color: var(--bege);

    cursor: pointer
}

.imagem-simposio{
    height: 35px;
}

.simposio{
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    height: 150px;
    width: 100%;
}

.titulo-simposio{
    font-size: 22px;
    margin-left: 15px;
}

.txt-simposio{
    font-size: 14px;
    margin-left: 15px;
}


/* Conteúdo Principal*/

.titulo-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px ;
    color: var(--laranja);
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo{
    width: 65%;
    margin-left: 15px;
    
}

.lateral{
    float: right;
    display: grid;
    font-size: 0.87rem;
    justify-content: space-around;
    line-height: 35px;
    align-items: center;
}


.lateral .botao-lateral{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lateral .botao-l{
    background-color: var(--laranja);
    color: white;
    border: none;
    height: 30px;
    width: 30px;
}

.lateral .botao-d{
    color: white;
    background-color: var(--laranja);
    font-size: 16px;
    border: none;
    height: 30px;
    width: 125px;
}

.box-detalhes{
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    margin-right: 45px;
    width: 220px;
    height: 450px;
    border: 1px solid #e7e7e7;
    border-radius: 1%;
}
.detalhes{
    display: flex;
    flex-direction: column;
    background-color: var(--bege) ;
    
    border-bottom: 1px solid #E7E7E7;
    color:#4E4E4E;
    font-size: 20px ;
    height: 50px;
}

.detalhes h4{
    margin-left: 10px;
}

.texto-detalhes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    font-size: 12px;
    line-height: 19px ;
    color: var(--textcolor);
    
}

.texto-detalhes .apresentacao{
    margin: 10px;
}

.texto-detalhes .autores{
    margin: 10px;
    font-family:monospace;
}

.texto-detalhes .universidades{
    margin: 10px;
    color: lightgray;
}

.video{
    position: absolute;
    top: 180px;
    display: grid;
    justify-content: space-between;
    margin-left: 52px;
    background: linear-gradient(rgba(141, 53, 6, 0.5), rgba(141, 53, 6, 0.5)100%), url('../img/dewey\ 1.png'); 
    background-size: cover;
    font-size: 20px;
    width: 784px;
    height: 439px;    
}

.video-txt{
    margin: 30px;
    font-size: 24px;
    line-height: 25px;
    color: white;
}

.video-descricao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;

    margin-top: 80px;
    margin-left: 30px;
    color: white;
}

.descricao-txt h5{
    font-size: 34px;
}

.video-descricao .img-descricao{
    border: 1px solid var(--laranja);
    border-radius: 50%;
    padding: 3px;
}

/*Resumo e Discussões*/

.conteiner-resumo{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 52px ;
    line-height: 25px;
    border: 1px solid #E7E7E7;
    border-radius: 1%;
    width: 89%;
}


.titulo-resumo{
    display: flex;
    align-items: center;
    background-color: var(--bege) ;
    
    border-bottom: 1px solid #E7E7E7;
    color:#4E4E4E;
    font-size: 20px ;
    height: 50px;
}

.titulo-resumo h3{
    margin-left: 15px;
}

.txt-resumo{
    margin:30px;
    color: var(--textcolor);
}

.hidden{
    display:none;
    justify-content: space-between;
    text-align: justify;
    
    margin:30px;
    color: var(--textcolor);
}

#mostrar{
    background: none;
    border: none;
    font-size: 15px;
    color: var(--laranja);

}

.conteiner-discussoes{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 52px ;
    line-height: 25px;
    border: 1px solid #E7E7E7;
    border-radius: 1%;
    width: 89%;
}

.titulo-discussoes{
    display: flex;
    align-items: center;
    background-color: var(--bege) ;
    
    border-bottom: 1px solid #E7E7E7;
    color:#4E4E4E;
    font-size: 20px ;
    height: 50px;
}

.titulo-discussoes h3{
    margin-left: 15px;
}

#discussoes{
    display: block;
}

.txt-discussoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--textcolor);
}

.txt-discussoes p{
    text-align: center;
    margin: 25px;
}

.img-disussoes{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 30px;
}

.txt-discussoes .laranja{
    color: var(--laranja)
}

#botao-discussoes{
    border: none;
    background: none;
    margin-bottom: 15px;
    cursor: pointer
}   

/*formulário*/
#form{
    display: none;
    margin: 15px;
    border-bottom: 1px solid rgb(223, 218, 218);;
}
fieldset{
    margin-bottom: -6px;
    border: none;
}

textarea{
    border:1px solid rgb(209, 204, 204);
    color: var(--textcolor);
    margin-top: none;

}

label{
    color: var(--laranja);
}

.campo{
    margin-bottom: 0;
}

.campo p{
    color: var(--textcolor);
    text-align: center ;
}

.botao-formulario{
    display: flex;
    flex-direction: row ;
    margin-bottom: 30px;
    background: #EAF1F2;
    justify-content: space-between;
    border:1px solid rgb(209, 204, 204);
    border-top:none;
    border-radius: 2px;
}

.botao-formulario p{
    letter-spacing: 7px;
    margin-left: 20px;
}

.botao-formulario #botao-form{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    width: 175px;
    color: white;
    border:none;
    cursor: pointer
}

#enviado{
    display: none;
}

.enviado-sucesso{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    height: 200px;
    margin: 15px;
    border-bottom: 1px solid #E7E7E7; 
}

#novotopico{
    border:none;
    cursor: pointer
}

.enviado-sucesso h3{
    color: var(--laranja);
}

.enviado-sucesso p{
    width: 50%;
    color: var(--textcolor);
}

.feedback{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    margin: 15px;
    height: 150px;
    border: 1px solid #E7E7E7;
    border-radius: 1%; 
    box-shadow: 1px 1px 4px 1px #c4c0c0;
    -moz-box-shadow:  1px 1px 4px 1px #c4c0c0;
    -webkit-box-shadow:  1px 1px 4px 1px #cac0c0;

    background: linear-gradient(rgba(221, 221, 221, 0.9), rgba(221, 221, 221, 0.9)100%), url('../img/card-topico.png');
    background-size: cover;   
}

.feedback a{
    background: none;
    color: var(--laranja);
    text-decoration: underline;
    align-self: center;
}
.feedback button{
    margin-top: 15px;
    border: none;
    background: none;
}

.feedback p{
    color: var(--textcolor);
    font-weight:bold;
}

/*campo perguntas*/

#hiddenperguntas{
    margin: 15px;
    height: 150px;
    font-size: 12px;
    color: var(--textcolor);
   
}

#hiddenperguntas p{
    margin-top: 3px;
    font-size: 14px;
}

#hiddenperguntas h3{
    color: var(--laranja);
    font-size: 16px;
}
.perguntas1{
    margin: 15px;
    
    line-height: 25px;
    border: 1px solid #E7E7E7;
    border-radius: 1%; margin: 15px;
    
    line-height: 25px;
    border: 1px solid #E7E7E7;
    border-radius: 1%; 
}
.perguntas{
    display: flex;
    flex-direction: column;
        
    margin: 15px;
    
    line-height: 25px;
    border: 1px solid #E7E7E7;
    border-radius: 1%; 
    box-shadow: 1px 1px 4px 1px #c4c0c0;
    -moz-box-shadow:  1px 1px 4px 1px #c4c0c0;
    -webkit-box-shadow:  1px 1px 4px 1px #cac0c0;
}

.posts-perguntas{
    margin: 20px;
    height: 130px;
    font-size: 12px;
    color: var(--textcolor);
}

.posts-perguntas h3{
    color: var(--laranja);
    font-size: 16px;
}

.posts-perguntas p{
    margin-top: 3px;
    font-size: 14px;
}

.botao-perguntas{
    margin-top: 15px;
    border: none;
    background: none;

    cursor: pointer
}

/*Final da Pagina*/
.final{
    margin: 15px;
    margin-left: 45px;

       
       
}

/*media queries*/

@media (max-width: 650px){
    
   .conteiner-body{
    width:47%  ;
    }

    .menu-conteiner{
        position: fixed;
    }

    .video{
        height: 15%;
        width: 100%;
    }
    .video-descricao{
    display: none;
    }

    .video-txt{
        font-size: 15px;
    }

    .titulo-simposio{
        font-size: 15px;
        margin-left: 5px;
    }

    .txt-simposio{
        font-size: 10px;
        margin-left: 5px;
    }

    .imagem-simposio{
        height: 27px;
    }
    .titulo-principal{
        font-size: 13px;
        margin: 20px ;
    }


}


@media (max-width: 1024px){
    
    .video{
        height: 19%;
        width: 80%;
    }
    .conteiner-body{
        width:60%  ;
    
    }
    .conteiner-simposio{
        width: 1000px;
    
    }
    .titulo-simposio{
        font-size: 15px;
        margin-left: 5px;
    }
    
    .txt-simposio{
        font-size: 10px;
        margin-left: 5px;
    }

    .imagem-simposio{
        height: 27px;
    }
    .titulo-principal{
        font-size: 15px;
    }
    
    .menu-conteiner{
        position: relative;
        height: 100%;
    }

    .titulo-principal{
        width: 1000px;
        margin-left: 20px;
    }
    .box-detalhes{
        height: 320px;
    }

    .texto-detalhes{
        font-size: 10px;
        line-height: 15px;
}
}

